.container{
    background-color: white;
    box-shadow: 2px 2px 30px;
    width:900px;
    font-family: 'Vazir' !important;
    padding-bottom: 0px !important;
    margin: 50px auto;
    margin-bottom: 0px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Vazir;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: Vazir;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: Vazir;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: Vazir;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  .iframe-full-height{
    display: flex;
    flex-flow: column;
    height: 100%;
  }