
.container{
    background-color: white;
    box-shadow: 2px 2px 30px;
    width:900px;
    font-family: 'Vazir' !important;
    padding-bottom: 0px !important;
    margin: 50px auto;
    margin-bottom: 0px !important;
}