
  .form-group {
    position: relative;
    width: 100%;
    margin-top: -10px;
  }
  
  .form-control-placeholder {
    position: relative;
    top: -50px;
    float: right;
    padding: 0px 0px 0 0px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder{
    font-size: 75%;
    transform: translate3d(0, -120%, 0);
    opacity: 1;
  }

  .form-control:disabled {
    background-color: #ddd;
    color: grey;
  }