.iframe-header{
    /* border-bottom: 1px solid black; */
    padding-top: 3px;
    padding-bottom: 0px;
}

.iframe-progress-bar{
    /* border: 1px solid black; */
}

.iframe-logo{
    text-align: center;
    padding-top: 10px;
    padding-left: 0px !important;
    margin-left: -30px;
}

@media (max-width: 900px){
    .iframe-logo{
        margin-left: 0px;
    }
}