.iframe-info-panel{
    padding: 0px !important;
    margin-left: 0px !important;
}
.info-time-remaining{
    padding-left: 0px !important;
    background-color: #ccc;
    width: 85%;
    margin: 10px auto 0px auto;
    color: #666;
    border: 2px dashed #bbb;
    border-radius: 10px;
}
.info-deposit{
    margin-left: 20px !important;
    background-color: #ccc;
    color: #666;
    border: 2px dashed #bbb;
    padding: 40px 60px 0px 60px  !important;
    border-radius: 10px;
    width: 85%;

}
.time-remaining{
    text-align: center;
    padding: 20px 20px 20px 20px !important;
    margin: 0px auto;
}
.time-remaining div{
    margin: 0px !important;
}

.info-bank-logo{
    padding: 40px 70px 40px 70px !important;
}
.info-bank-logo img{
    margin: 0px auto;
    padding-left: 0px !important;
}
.time-remaining p{
    padding-left: 0px !important;
}
.info-help{
    margin: 0px auto;
    padding: 10px 0px 0px 0px !important;
}
.info-help img{
    margin: 0px auto;
    padding-left: 0px !important;
}

@media (max-width: 960px){
    
}

@media (max-width: 640px){
    .info-bank-logo{
        width: 50%;
        margin: 10px 0px 0px 0px !important;
        padding: 10px 10px 10px 10px !important;
    }
    .info-deposit{
        border: 0px;
        background-color: transparent;
        width: 50% !important;
        margin: 15px 0px 0px 0px !important;
        padding: 20px 30px 0px 30px !important;
    }
    .info-deposit span{
        font-size: 19px !important;
    }
    .info-deposit p{
       margin-top: -4px;

    }
    .info-time-remaining{
        margin: 0px auto !important;
        padding: 0px !important;
    }
    .iframe-deposit{
        margin-bottom: 0px !important;
    }
    .info-help {
        direction: rtl;
    }
    .info-help p {
        padding-top: 5px;
        font-size: 10px !important;
        width: 100% !important;
        display: inline;
    }
    .info-help svg {
        display: inline;
    }
    .time-remaining{
        padding: 2px 20px 20px 2px !important;
    }
}