.iframe-info-panel{
    padding-left: 0px !important;
}
.info-time-remaining{
    background-color: #ccc;
    width: 85%;
    margin: 10px auto 0px auto;
    color: #666;
    border: 2px dashed #bbb;
    border-radius: 10px;
}
.iframe-deposit{
    width: 85%;
    background-color: #ccc;
    color: #666;
    border: 2px dashed #bbb;
    border-radius: 10px;
}

.time-remaining{
    text-align: center;
    padding: 20px 20px 20px 20px !important;
    margin: 0px auto;
}
.time-remaining div{
    margin: 0px !important;
}

.info-bank-logo{
    margin: 0px auto;
    padding: 5px !important;
}
.info-bank-logo img{
    margin: 0px auto;
    padding-left: 0px !important;
}
.time-remaining p{
    padding-left: 0px !important;
}
.info-help{
    margin: 0px auto;
    padding: 10px !important;
}
.info-help img{
    margin: 0px auto;
    padding-left: 0px !important;
}

@media (max-width: 960px){
    .info-time-remaining{
        /* width: 45%; */
    }
    
    .time-remaining div{
        padding-left: 0px !important; 
    }
}

@media (max-width: 560px){
    .info-time-remaining{
        width: 75%;
    }
}