.content-container button{
    background: #00bc89; /* Old browsers */
    background: -moz-linear-gradient(left,  #00bc89 0%, #80b559 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #00bc89 0%,#80b559 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #00bc89 0%,#80b559 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bc89', endColorstr='#80b559',GradientType=1 ); /* IE6-9 */
}

.content-container input:checked{
    background: #00bc89; /* Old browsers */
    background: -moz-linear-gradient(left,  #00bc89 0%, #80b559 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #00bc89 0%,#80b559 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #00bc89 0%,#80b559 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bc89', endColorstr='#80b559',GradientType=1 ); /* IE6-9 */
}
.content-container p{
    text-align: center;
    margin: 0px auto;
    color: green;
    font-size: 25px;
}

.iframe-rules{
    border: 1px solid #ccc;
    width: 90%;
    margin: 10px auto;
    height: 200px;
}

.iframe-rules-text {
    color:#333 !important;
    font-size: 0.8rem !important;
    direction: rtl !important;
    text-align: right !important;
    padding-bottom: 7px !important;
    padding-right: 6px !important;
  }