input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	width:45%;
    border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    padding-right: 10px !important;
    direction: rtl;
}

.step-bank-inputs{
    margin-left: 0px !important;
}
.step-bank-inputs input{
	padding-bottom: 20px;
	margin-top: 55px;
    margin-left: 26px;
}
.step-bank-input{
	padding-bottom: 20px;
	margin-top: 60px;
    margin-left: 26px;
}